process {

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }

    withName: '.*:STARSOLO' {
        ext.prefix = { "${meta.id}_starsolo"}
        ext.args = {[
            '--runMode alignReads',
            '--outSAMmapqUnique 60',
            '--outSAMunmapped Within',
            '--soloStrand Forward',
            '--quantMode GeneCounts',
            '--soloCBstart 1',
            '--soloCBlen 14',
            '--soloUMIstart 15',
            '--soloUMIlen 14',
            '--soloUMIdedup NoDedup 1MM_Directional',
            '--soloCellFilter None',
            '--soloBarcodeReadLength 0',
            '--soloFeatures Gene',
            '--outSAMattributes NH HI nM AS CR UR CB UB GX GN sS sQ sM',
            '--outFilterMultimapNmax 1',
            '--outSAMtype BAM SortedByCoordinate',
        ].join(' ')}
    }

    WithName: '.*:FQTK' {
        ext.args = "--template-types T M B --output-types T"
    }

}

